<% provide(:title,"Help") %>
<h1>Help</h1>
<p>Get help on Ruby on Rails tutorial at the
    <a href = "http://railstutorial.org/#help">Rails tutorial help section</a>
    To get help on this sample app , see
    <a href = "http://railstutorial.org/book"><em> Ruby on Rails tutorial</em> book </a>
</p>
 
